<div class="jumbotron">
    <img  src="~/assets/logo.png" height="100"/>
    <h2>Booster notre activité et passer à un vitesse superieur !</h2>
    <p class="lead">Cette application a pour but de gérer les stocks en magasin et la relation clientèle.</p>
    <p><a href="https://www.facebook.com/messages/t/Sejdra.Etoiliste" class="btn btn-primary btn-lg">Plus d'information ? &raquo;</a></p>
</div>
<center>
    <div class="row">
        <div class="col-md-6">
            <h2>Ajouter un produit</h2>
            <p>La section "Ajout produit" n'est pas encore dévelopé.</p>
            <p><a class="btn btn-default" href="/">  &raquo;</a></p>
        </div>
        <div class="col-md-6">
            <h2>Création client</h2>
            <p>La section "Création client" n'est pas encore dévelopé.</p>
            <p><a class="btn btn-default" href="/">  &raquo;</a></p>
        </div>
    </div>
</center>
